<!--
  ~ Copyright (c) 2020 - present, LLC “V Kontakte”
  ~
  ~ 1. Permission is hereby granted to any person obtaining a copy of this Software to
  ~ use the Software without charge.
  ~
  ~ 2. Restrictions
  ~ You may not modify, merge, publish, distribute, sublicense, and/or sell copies,
  ~ create derivative works based upon the Software or any part thereof.
  ~
  ~ 3. Termination
  ~ This License is effective until terminated. LLC “V Kontakte” may terminate this
  ~ License at any time without any negative consequences to our rights.
  ~ You may terminate this License at any time by deleting the Software and all copies
  ~ thereof. Upon termination of this license for any reason, you shall continue to be
  ~ bound by the provisions of Section 2 above.
  ~ Termination will be without prejudice to any rights LLC “V Kontakte” may have as
  ~ a result of this agreement.
  ~
  ~ 4. Disclaimer of warranty and liability
  ~ THE SOFTWARE IS MADE AVAILABLE ON THE “AS IS” BASIS. LLC “V KONTAKTE” DISCLAIMS
  ~ ALL WARRANTIES THAT THE SOFTWARE MAY BE SUITABLE OR UNSUITABLE FOR ANY SPECIFIC
  ~ PURPOSES OF USE. LLC “V KONTAKTE” CAN NOT GUARANTEE AND DOES NOT PROMISE ANY
  ~ SPECIFIC RESULTS OF USE OF THE SOFTWARE.
  ~ UNDER NO CIRCUMSTANCES LLC “V KONTAKTE” BEAR LIABILITY TO THE LICENSEE OR ANY
  ~ THIRD PARTIES FOR ANY DAMAGE IN CONNECTION WITH USE OF THE SOFTWARE.
-->
<!-- *******************************************************************************
# The MIT License (MIT)
#
# Copyright (c) 2019 vk.com
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
# ****************************************************************************** -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vk.api.sdk">

    <queries>
        <!-- For auth with vk client -->
        <intent>
            <action android:name="com.vkontakte.android.action.SDK_AUTH" />
        </intent>

        <!-- For available browsers request -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="http" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".ui.VKWebViewAuthActivity"
            android:theme="@style/VK.Transparent" />
        <activity android:name=".ui.VKCaptchaActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".ui.VKConfirmationActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <provider
            android:authorities="${applicationId}.VKInitProvider"
            android:name="com.vk.api.sdk.internal.VKInitProvider"
            android:exported="false"
            android:enabled="@bool/com_vk_sdk_init_provider_enabled"/>
        <meta-data android:name="VKSdkVersion" android:value="${VKSdkVersion}"/>
        <meta-data android:name="VKSdkVersionCode" android:value="${VKSdkVersionCode}"/>
    </application>

</manifest>